@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
}

@theme {
  --font-rubik: "Rubik", "sans-serif";
  --font-rubik-medium: "Rubik", "sans-serif";
  --color-primary: #050c9c;
  --color-secondary: #3abef9;
  --color-third: #3572ef;
  /* ... */
}
